

<div class="container">
    <div class="row">
    	<div class="col-lg-4">
			<h2>User info</h2>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>

			<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th><%= current_user.name %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>introduction</th>
						<th><%= current_user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<%= link_to edit_user_path(current_user), class: "edit_user_#{@current_user} btn btn-default" do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<%end%>
			<%= render 'Books/list', book: @new_book %>
        </div>
        <h1>Books</h1>
        <div class="col-lg-8">
			<table  class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
						<tr>
							<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
							<td>
								<%= link_to book_path(book.id), class: "book_#{@new_book.id}" do %>
									<%= book.title %>
								<%end%>
							</td>
							<td><%= book.opinion %></td>
						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>

